body{
    background-color:white;
}
.navbar{
    background-color:#212121;
}

.bg-whiteblue{
    background-color:#2196f3;
}

.text-white{
    color:white;
}

.form-group{
    color:white;
}

.btn-default{
    background-color:#ff8900;
    color:white;
}

.custom-header{
    height: 90vh;
    min-height: 550px;
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,.7)), url("../images/bg.jpg") no-repeat; 
}

.custom-header-greece{
    height: 90vh;
    min-height: 550px;
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../images/bg_greece.jpg") no-repeat;
}

.custom-header-faq{
    height: 90vh;
    min-height: 550px;
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../images/bg_faq.jpg") no-repeat;
}

.custom-header-emergency{
    height: 90vh;
    min-height: 550px;
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../images/bg_emergencynumbers.jpg") no-repeat;
}

@media screen and (prefers-reduced-motion: reduce) {
    .custom-font{
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 500;
    text-align: center;
    font-size:65px;
}}

.row{
    text-align:center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}

.text-faded{
    color:gray;
}

.container{
    background-color:white;
    max-width:100% !important;
}

h2{
    text-align: center;
}

#myCarousel{
    max-width: 30%;
    margin-bottom: 5; 
    margin: 0 auto;
}

.section-image{
    width:96px;
}

@media only screen and (min-width: 600px) {
#contact-form{
    width: 40%;
}
}
