#testpanel{
    background: #fafafa;
}

.ui-panel-inner{
    padding: 0px;
}

.container{
    padding: 0px;
    text-align: center;
}

h4{
    font-size: 12px !important;
}

.ui-listview >li > a.ui-btn{
    margin-left: 10px;
}

.custom-form{
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}

hr{
    color: white;
}

.small-hr{
    width:50%;
}

.ui-dialog-contain {
    width: 92.5%;
    max-width: 500px;
    margin: 10% auto 15px auto;
    padding: 0;
    position: relative;
    top: -15px;
  }

/*Placeholder*/

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }