@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}

a:link {
	color: white;
	text-decoration: underline; 
}
a:visited {
	color: white;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	background-color: #FFFFFF;
	margin: 0 auto; 
}

header {
	background-color: #a67947;
	background: #a67947;
}

.main_navbar {
	display:block;
	width:100%;
	background-color: #2d5668;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 600px;
	float: left;
}
aside {
	float: left;
	width: 180px;
	background-color: #EADCAE;
	padding: 10px 0;
}

.content ul, .content ol {
	padding: 0 15px 15px 40px; 
}


ul.nav {
	list-style: none; 
	border-top: 1px solid #666; 
	margin-bottom: 15px; 
}
ul.nav li {
	border-bottom: 1px solid #666; 
	font-weight:bold;
}
ul.nav a, ul.nav a:visited { 
	padding: 5px 5px 5px 75px;
	display: block; 
	text-decoration: none;
	background-color: #C6D580;
	font-size: 2em;
	font-weight:bold;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background-color: #ADB96E;
	color: #FFF;
}

footer {
	text-align: center;
	padding: 10px 0;
	background-color: #CCC49F;
	position: relative;
	clear: both; 
}

header, section, footer, aside, article, figure {
	display: block;
}

#header_image {
	max-width:50%;
}
ul.nav a#fires, ul.nav a:visited#fires {
	background: url(../images/pirkagies.jpg) no-repeat left;
	background-size: 75px;
	background-color: #2d5668;
}
ul.nav a#floods, ul.nav a:visited#floods {
	background: url(../images/plimires.jpg) no-repeat left;
	background-size: 75px;
	background-color: #2d5668;
}
ul.nav a#earthquakes, ul.nav a:visited#earthquakes {
	background: url(../images/seismoi.jpg) no-repeat left;
	background-size: 75px;
	background-color: #2d5668;
}
ul.nav a#landslides, ul.nav a:visited#landslides {
	background: url(../images/katolisthiseis.jpg) no-repeat left;
	background-size: 75px;
	background-color: #2d5668;
}
ul.nav a#contact, ul.nav a:visited#contact {
	background: url(../images/contact.jpg) no-repeat left;
	background-size: 75px;
	background-color: #2d5668;
}

footer {
	text-align: center;
	padding: 10px 0;
	background-color: #CCC49F;
	position: relative;
	clear: both; 
}